@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;1,900&family=Oswald:wght@700&family=Raleway:ital,wght@0,400;0,700;1,400&family=Rubik+Lines&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Bitter:ital,wght@0,100;1,900&family=Oswald:wght@700&family=Raleway:ital,wght@0,400;0,700;1,400&family=Rubik+Lines&display=swap');


#favicon {
    border-radius: 50%; /* Ajoutez une bordure arrondie */
}
    


body {
    background-color: brown;
    background-repeat: no-repeat;
}

.note-patch {
    color:  wheat;
}

/* Styles spécifiques pour les écrans de petite taille */
@media only screen and (max-width: 600px) {
    .note-patch {
        font-size: 12px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}

header {
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    
    
}


/* Styles de base pour tous les écrans */
h1 {
    width: 45.5%;
    background-color: wheat;
    border-style: solid;
    border-width: 10px;
    border-color: black;
    display: flex;
    justify-content: center;
    padding: 50px;
}

/* Styles spécifiques pour les écrans de petite taille */
@media only screen and (max-width: 600px) {
    h1 {
        width: 80%; /* Ajustez la largeur selon vos besoins pour les écrans de petite taille */
        padding: 20px; /* Ajustez le rembourrage selon vos besoins pour les écrans de petite taille */
    }
}


/* Styles généraux pour tous les écrans */
body {
    background-color: brown;
    background-repeat: no-repeat;
}

/* Styles spécifiques pour les écrans de tablette */
@media only screen and (max-width: 1024px) {
    body {
        /* Ajoutez des styles spécifiques aux tablettes ici */
    }

    header {
        margin-top: 50px;
    }

    h1 {
        width: 60%;
        padding: 40px;
    }

    #p-div1-1 {
        width: 70%;
        padding: 40px;
        font-size: 25px;
    }

    #h2-1 {
        width: 60%;
        padding: 20px;
    }

    #div3 {
        margin-left: 15%;
    }

    #liste1 {
        width: 70%;
        padding: 20px;
        font-size: 25px;
    }
}


/* Styles spécifiques pour les écrans de grande taille */
@media only screen and (max-width: 1400px) {
    body {
        /* Ajoutez des styles spécifiques aux tablettes ici */
    }

    header {
        margin-top: 50px;
    }

    h1 {
        width: 60%;
        padding: 40px;
    }

    #p-div1-1 {
        width: 70%;
        padding: 40px;
        font-size: 25px;
    }

    #h2-1 {
        width: 60%;
        padding: 20px;
    }

    #div3 {
        margin-left: 15%;
    }

    #liste1 {
        width: 70%;
        padding: 20px;
        font-size: 25px;
    }
}


/* Styles spécifiques pour les écrans de très grande taille */
@media only screen and (max-width: 2000px) {
    body {
        /* Ajoutez des styles spécifiques aux tablettes ici */
    }

    header {
        margin-top: 50px;
    }

    h1 {
        width: 60%;
        padding: 40px;
    }

    #p-div1-1 {
        width: 70%;
        padding: 40px;
        font-size: 25px;
    }

    #h2-1 {
        width: 60%;
        padding: 20px;
    }

    #div3 {
        margin-left: 15%;
    }

    #liste1 {
        width: 70%;
        padding: 20px;
        font-size: 25px;
    }
}



#p-div0-1 {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    background-color: wheat;
    width: 50%;
    
}

#img-intro {
    border-radius: 100%;
    

    
    
}

#section1 { 
    display: flex;
    justify-content: end;
}

#div1 {
    display: grid;
    grid-template-columns: auto auto; /* Deux colonnes de largeur automatique */
    grid-gap: 10px; /* Espacement entre les colonnes */
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0%;
}

#div1-1 {
    width: 100%;
    display: flex;
    justify-content: center;
}

#div1-2 {
    width: 33%;
    display: flex;
    justify-content: end;
}

#p-div1-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    padding-top: 50px;
    font-family: 'raleway';
    font-weight: 900;
    font-size: 35px;
    color: wheat;
    width: 50%;
    text-align: center;
}

/* Styles spécifiques pour les écrans de petite taille */
@media only screen and (max-width: 600px) {
    #p-div1-1 {
        width: 80%; /* Ajustez la largeur selon vos besoins pour les écrans de petite taille */
        padding: 20px; /* Ajustez le rembourrage selon vos besoins pour les écrans de petite taille */
        font-size: 20px;
    }
}

#h2-1 {
    margin-top: -50px;
    display: flex;
    justify-content: center;
    margin: 10px;
    background-color: wheat;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    width: 50%;
    text-align: center;
    

}

/* Styles spécifiques pour les écrans de petite taille */
@media only screen and (max-width: 600px) {
    #h2-1 {
        width: 80%; /* Ajustez la largeur selon vos besoins pour les écrans de petite taille */
        padding: 20px; /* Ajustez le rembourrage selon vos besoins pour les écrans de petite taille */
        text-align: center;
    }
}

/* Styles spécifiques pour les écrans de petite taille */
@media only screen and (max-width: 1000px) {
    #h2-1 {
        text-align: center;
    }
}

#div2 {
    display: flex;
    justify-content: center;
}

#div0-1 {
    display: flex;
    justify-content: center;
}

#div3 {
    display: flex;
    justify-content: start;
    margin-left: 25%;
}

@media only screen and (max-width: 600px) {
    #div3 {
        margin-left: 0; /* Réinitialise la marge pour les écrans de petite taille */
    }
}

#liste1 {
    margin: 30px;
    color: wheat;
    margin: 0px;
    padding: 0px;
    padding-left: 16px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 30px;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    #liste1 {
        width: 80%; /* Ajustez la largeur selon vos besoins pour les écrans de petite taille */
        padding: 20px; /* Ajustez le rembourrage selon vos besoins pour les écrans de petite taille */
        font-size: 20px;
        text-align: left; /* Positionne le texte à gauche de l'écran */
    }
}


/* #liste1:hover {
    color: black;
} */


/* chatgpt */
#liste1 a { 
    color: inherit; /* hérite de la couleur du texte parent */
    text-decoration: none;
}

#liste1:visited {
    color: black;
}

/* a */



#liste1 a:hover {
    color: black;
}

#liste1 a:active {
    /* Styles pour l'état actif (clic) si nécessaire */
    color: black;
}

a:visited {
    color: wheat;
}